{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Log in" %}{% endblock %}
{% block stylesheets %}
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock %}

{% block content %}
  <div class="content-container">
    <div class="panel absolute-center">
      <div class="panel-body">
        <h3>{% trans "Login in to play" %}</h3>
        <form method="POST" action="{% url "account:account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
          {% csrf_token %}
          {% bootstrap_form_errors form type='non_fields' %}
          {% for form_field in form %}
            {% bootstrap_field form_field %}
          {% endfor %}
          {#        {% bootstrap_form form %}#}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-success btn-block">{% trans "Log in" %}</button>
        </form>
        <div class="social-port">
          <a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}?next={% url 'game:index' %}"><span class="fa fa-facebook-square"></span>&nbsp Facebook</a>
          <a class="btn btn-info" href="{% url 'social:begin' 'twitter' %}?next={% url 'game:index' %}"><span class="fa fa-twitter-square"></span>&nbsp Twitter</a>
        </div>
      </div>
      <div class="panel-footer">
        <a href="{% url 'account:account_signup' %}">{%trans "Create an account: " %}<span>Sign Up</span></a>
      </div>
    </div>
    <a href="{% url "account:account_password_reset" %}">{% trans "Forgot your password?" %}</a>

    {#    <div>#}
{#       {% include "account/_login_sidebar.html" %}#}
{#    </div>#}
  </div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
        $('#id_username').focus();
    });
  </script>
{% endblock %}