{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'angular-2048/app/styles/main.css' %}">
{% endblock %}

{% block content %}
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="content-wrapper">
  <div class="user">
    <p>
      <ul>
        {% if user and not user.is_anonymous %}
          <li>
              <a>Hello {{ user.get_full_name|default:user.username }}!</a>
          </li>
          <li>
              <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
          </li>
          {% else %}
          <li>
              <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
          </li>
          <li>
              <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
          </li>
          <li>
              <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
          </li>
          {% endif %}
      </ul>
    </p>
  </div>

  {% if user and not user.is_anonymous %}
    <div class="game" ng-include="'mainId.html'"></div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-cookies.min.js"></script>
<script src="{% static 'angular-2048/app/scripts/app.js' %}"></script>
<script src="{% static 'angular-2048/app/scripts/grid/grid.js' %}"></script>
<script src="{% static 'angular-2048/app/scripts/grid/grid_directive.js' %}"></script>
<script src="{% static 'angular-2048/app/scripts/grid/tile_directive.js' %}"></script>
<script src="{% static 'angular-2048/app/scripts/keyboard/keyboard.js' %}"></script>
<script src="{% static 'angular-2048/app/scripts/game/game.js' %}"></script>
{% endblock %}
